{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "babel-plugin-object-values-to-object-keys"
  ],
  "sourceMaps": "inline"
}
