{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
    "prettier"
  ],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/space-after-type-colon": [
      0,
      "never"
    ],
    "import/no-commonjs": 2,
    "import/no-amd": 2,
    "import/export": 2,
    "no-var": 2,
    "linebreak-style": [
      2,
      "unix"
    ],
    "curly": [
      2,
      "multi",
      "consistent"
    ],
    "prefer-const": [
      2,
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "window": false,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "jasmine": true,
    "spyOn": false,
    "it": false,
    "pit": false,
    "console": false,
    "expect": false,
    "waits": false,
    "waitsFor": false,
    "runs": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "experimentalObjectRestSpread": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ]
}
